<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="regression functional GUI test" verbose="5" data-provider-thread-count="1">
    <listeners>
        <listener class-name="com.codeborne.selenide.testng.TextReport"/>
    </listeners>

    <test name="Sed BelGu">
        <classes>
            <class name="ru.melody.testWebSedBelgu.IncomingDocumentTest"/>
            <class name="ru.melody.testWebSedBelgu.OutgoingDocumentTest"/>
        </classes>
    </test>

</suite>